<h2><%= @product_model.name %></h2>

<dl>
  <dt><strong>Fornecedor:</strong></dt>
  <dd><%= @product_model.supplier.brand_name %></dd>
  <dt><strong>SKU:</strong></dt>
  <dd><%= @product_model.sku %></dd>
  <dt><strong>Dimensão:</strong></dt>
  <dd><%= @product_model.length %>cm x <%= @product_model.height %>cm x <%= @product_model.width %>cm</dd>
  <dt><strong>Peso:</strong></dt>
  <dd><%= @product_model.weight %> g</dd>
</dl>