<h1>Galpão <%= @warehouse.code%> </h1>
<h2><%= @warehouse.description %></h2>
<div>
  <p><strong>Nome:</strong> <%= @warehouse.name %> </p>
  <p><strong>Cidade:</strong> <%= @warehouse.city %></p>
  <p><strong>Estado:</strong> <%= @warehouse.state %></p>
  <p><strong>Área:</strong> <%= @warehouse.area %> m²</p>
  <p><strong>Endereço:</strong> <%= @warehouse.address %> <strong>CEP:</strong> <%= @warehouse.postal_code %></p>
</div>

<div>
  <%= link_to('Editar', edit_warehouse_path) %>
  <%= button_to('Remover', warehouse_path(@warehouse.id), method: :delete) %>
</div>

<div>
  <h2>Itens em Estoque</h2>
  <% @stocks.each_pair do |pm, quantity| %>
    <p> <%= quantity %> x <%= pm.sku %></p>
  <% end %>
</div>

<div>
  <%= link_to('Voltar', root_path) %>
</div>