<!DOCTYPE html>
<html>
  <head>
    <title>WarehouseApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application" %>
    <link rel="stylesheet" href="style.css">
  </head>

  <body>
    <header>
      <%= link_to root_path do %>
        <h1>Sistema de Galpões e Estoque</h1>
      <% end %>
      <nav>
        <%= link_to 'Home', root_path %> |
        <%= link_to('Fornecedores', suppliers_path) %> |
        <%= link_to 'Modelos de Produtos', product_models_path %> |
        <%= link_to 'Registrar Pedido', new_order_path %> |
        <% if user_signed_in? %>
          <%= current_user.description %>
          <%= button_to 'Sair', destroy_user_session_path, method: :delete %>
        <% else %>
          <%= link_to 'Fazer Login', new_user_session_path %>
        <% end %>
      </nav>
    </header>
    <main>
      <div>
        <p><%= flash[:notice] %></p>
        <p><%= flash[:alert] %></p>
      </div>
      <%= yield %>
    </main>
  </body>
</html>
